11.1

In [5]:
import zoo
zoo.hours()

Open 9-5 daily

11.2

In [6]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [ ]:
16.8

In [7]:
import sqlite3
conn = sqlite3.connect('books.db')
curs = conn.cursor()
curs.execute('''CREATE TABLE books
    (title VARCHAR(40) PRIMARY KEY,
      author VARCHAR(40),
      year INT)''')

In [59]:
import sqlalchemy
book = 'INSERT INTO books (title, author) VALUES'
conn.execute("INSERT INTO books (title, author) VALUES('The Hobbit','J R R Tolkien')")
conn.execute("INSERT INTO books (title, author) VALUES('Eats, Shoots & Leaves', 'Lynne Truss')")
titles = conn.execute("SELECT title FROM books ORDER BY title")
for title in titles:
    print(title)

('Eats, Shoots & Leaves',)
('The Hobbit',)